<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
  This is a map of rising Sea Levels...Scientists are concerned with tides, water levels and tidal currents as well. 
  Ecologists may focus on the tidal mixing of near-shore waters, where pollutants are removed and nutrients are recirculated. 
  Tidal currents also move floating animals and plants to and from breeding areas in estuaries to deeper waters. 
  Oceanographers or atmospheric scientists may study tidal fluctuations to better understand the circulation of the ocean
  and its relationship to world climatic changes(https://oceanservice.noaa.gov/education/kits/tides/tides09_monitor.html).
  Sea level is primarily measured using tide stations and satellite laser altimeters. Tide stations around the globe tell us what is happening at a 
  local level—the height of the water as measured along the coast relative to a specific point on land. 
  Satellite measurements provide us with the average height of the entire ocean. 
  Taken together, these tools tell us how our ocean sea levels are changing over time(https://oceanservice.noaa.gov/facts/sealevel.html).
  This map shows over 100 Tide Stations and the Linear Relative Mean Sea Level (MSL) trends and 95% Confidence Intervals (CI) in ft/century.
  Visit the websites I have included in this paragraph to obtain more information and hear the whole story.
	<div class="row">
      <div class="col-md-12">
      </div>
    </div>

  </div>
</body>
  <!-- The div where we will inject our map -->
  <div id="map" style="height: 80vh"></div>
  <!-- API key -->
<script type="text/javascript" src="..\static\config.js"></script>
  <!-- Our JS -->
  <script>
  


  // Create our initial map object
// Set the longitude, latitude, and the starting zoom level
var myMap = L.map("map", {
  center: [41.2, -95],
  zoom: 3
});

// Add a tile layer (the background map image) to our map
// We use the addTo method to add objects to our map
L.tileLayer("https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}", {
  attribution: "Map data &copy; <a href=\"https://www.openstreetmap.org/\">OpenStreetMap</a> contributors, <a href=\"https://creativecommons.org/licenses/by-sa/2.0/\">CC-BY-SA</a>, Imagery © <a href=\"https://www.mapbox.com/\">Mapbox</a>",
  maxZoom: 18,
  id: "mapbox.streets",
  accessToken: API_KEY
}).addTo(myMap);

// Create a new marker
// Pass in some initial options, and then add it to the map using the addTo method
{% for level in SeaLevels %}
console.log({{level[' Longitude']}});
var marker = L.marker([{{level[' Latitude']}}, {{level[' Longitude']}}], {
  draggable: false
}).addTo(myMap);
marker.bindPopup("Station Name: {{level[' Station Name']}}, {{level[' MSL Trend (ft/century)']}}");
{% endfor %} 
  
  </script>
</body>
</html>

